body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div {
    padding: 30px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
}

.flex-container-side {
    display: flex;
    max-width: 800px;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    justify-content: left;
}

.div3 {
    display: flex;
    max-width: 800px;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.button {
    width: 19%;
    height: 43px;
    float: right;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Light gray for odd rows */
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
    /* Slightly darker gray for even rows */
}

td {
    padding: 8px;
    /* Adjust padding as needed */
    border: 1px solid #ddd;
    /* Light border for each cell */
}